<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="Description" CONTENT="Новосибирский Центр спортивной селекции оказывает услуги по составлению индивидуальной генетической карты человека, позволяющей выявить склонность к занятиям определенными видами спорта, а также узнать факторы риска для здоровья.">

  <meta name="Keywords" content="спортивная селекция, sport selection, предарасположенность к виду спорта, спортивный отбор, генетические исследования в спорте, genetic sport research, как определить каким видом спорта заниматься ребенку">

  <title>Центр спортивной селекции</title>
  
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'grayscale', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= csrf_meta_tags %>

  <meta name='yandex-verification' content='7b685fddedba54fb' />
  <%= render 'pages/yandex' %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  </head>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <%= yield %>

  <!-- Scripts -->
  <%= javascript_include_tag('jquery.js') %>
  <%= javascript_include_tag('bootstrap.min.js') %>
  <%= javascript_include_tag('jquery.easing.min.js') %>
  <%= javascript_include_tag('grayscale.js') %>

</body>
</html>
